<div class= "color-wrapper">
<div class= "container">
<h2 class= "about-us-header">About Us</h2>

<p class="about-us"> Fit-Town is a fitness based social media app designed to help people in the Philadelphia Area connect through various activities and events designed to promote health and well-being! Hiking, running, swimming, pick-up basketball, we have something for everyone!</p>
</div>
</div>
<div class="color-wrapper">
</div>
